@import "/font-awesome/css/font-awesome-ie7.css"
@import "/font-awesome/css/font-awesome.css"

a
  color Green

.content
	text-align center

.hello
  font-weight bold

.left
  text-align left

.right
  text-align right

.tbl
  border-bottom 1px solid black

.pastAdvice
  background-color #eee
  height 25px
  width 200px
  text-align center

.advGiven
  height 160px
  overflow scroll

.advpercent,.helpfulpercent,.thankpercent
  display inline

.advAssigned
  height 160px
  overflow scroll

.advr
  cursor pointer

.notification
  color green
  line-height 40px
  margin-right 10px

.expand
  cursor pointer
  color #aaa
  font-size 20pt

.icon-remove-sign
  color red
  font-size 16pt
  cursor pointer

.dropdown-menu
  li
    padding-left 5px
    cursor pointer
    &:hover{color: Green;}

.savetime,.addtime
  margin 3px

.table td
  max-width 150px

.tbl td
  white-space nowrap
  overflow hidden
