a
  color Green

.content
	text-align center

.hello
  font-weight bold

.left
  text-align left

.pastAdvice
  background-color #eee
  height 25px
  width 200px
  text-align center

.advGiven
  height 100px
  overflow scroll

.advr
  cursor pointer