body
  background-image url("/img/patternsquare_green.png")

.main
  position fixed
  top 20px
  bottom 20px
  left 50px
  right 50px
  background-color #fff

  .intro
    text-align center
    font-size 18pt