#thankYouText.hiden
  h1.text-success
    | Thanks for trusting Domo!
    small  We'll get back to you within a few hours 
  h3
    | If you need help NOW, you should call
    b  911
    | .
  br
  h4
    | Here's a URL to copy if you ever want to visit your advice page before/without getting an SMS from us. If you didn't leave a phone #, you'll need this:
    br 
    br 
    a#adviceURL(href= '/s', target: '_blank') Your advice URL.
