!!!5
html(lang="en-us", charset="utf-8")
  head
    title TourBus Beta
    meta(name="viewport", content="width = 485")
  body

    a#downloadButton(href="itms-services://?action=download-manifest&url=https://tourbus-server.herokuapp.com/app/tourbus.plist") Download

