extends layout

block viewVars
  - title = 'Give Advice'
  - hideToolbar = false
  -var ngApp = 'adviceRequestDetail'

block scripts
  script(src='/components/angular/angular.min.js')
  script(src='/components/angular-resource/angular-resource.min.js')

  script.
    advicerequestId="#{advicerequestId}";
  
  script(src='/js/adviceRequestDetail/controllers/adviceRequestDetailController.js')
  script(src='/js/adviceRequestDetail/services/adviceRequestDetailServices.js')

block body

  .content-index.container-fluid(ng-controller="adviceRequestDetailController")
    section#home
      a(href='../giveadvice')
        h3 Give Advice?
      p Hell, yeah.

    div.row-fluid.adviceRow
      li.span12
        div.caption
          //if helpful, say
          //if pending approval, say, give approval url
          //if flagged, say
          h4.text-success SupporterDisplayName
          h5.grayLabel {{advicerequest.createdOn.toString()}}
          p.adviceRequestText {{advicerequest.adviceRequest}}
    div(ng-repeat="response in advicerequest.responses")
      div.row-fluid.adviceRow.adviceResponseRow
        li.span12
          div.caption
            //if helpful, say
            //if pending approval, say, give approval url
            //if flagged, say
            h4.text-success {{response.adviceGiverDisplayName}}
            h5.grayLabel {{response.modifiedDate.toString()}}
            p.adviceRequestText {{response.adviceResponse}}

