extends layout

block viewVars
  - title = 'Give Advice'
  - hideToolbar = false
  -var ngApp = 'adviceRequest'

  -var localScripts = ['/components/angular/angular.min.js', '/components/angular-resource/angular-resource.min.js','/js/adviceRequest/controllers/adviceRequestController.js','/js/adviceRequest/services/adviceRequestServices.js'];

block body

  .content-index.container-fluid

    section#home
      h3 Give Advice

     div(ng-controller="adviceRequestController")
        div.row-fluid.adviceRow(ng-repeat="request in responseData")
          li.span12
            div.caption
              //if helpful, say
              //if pending approval, say, give approval url
              //if flagged, say
              a(href= "./advice/{{request._id}}")
                h5.darkGreenLabel {{request.createdOn.toString()}}
                p.giveAdviceAdviceRequest {{request.adviceRequest}}
