extends layout

block viewVars
  - title = 'Give Advice'
  - hideToolbar = false
  -var ngApp = 'adviceRequest'

block scripts
  script(src='/components/angular/angular.min.js')
  script(src='/components/angular-resource/angular-resource.min.js')

  script(src='/js/adviceRequest/controllers/adviceRequestController.js')
  script(src='/js/adviceRequest/services/adviceRequestServices.js')
  script(src='/js/adviceRequest/adviceRequest.js')


block body

  .content-index.container-fluid

    section#home
      h3 Give Advice
      p Hell, yeah.

     div(ng-controller="adviceRequestController")
        div(ng-repeat="request in responseData")
          li.span6
            div.thumbnail
              div.caption
                a(href= "/giveadvice/{{request._id}}")
                  h5.darkGreenLabel {{request.createdOn.toString()}}
                  p.giveAdviceAdviceRequest {{request.adviceRequest}}