extends layout 

block viewVars
  -var title = 'Hey!'
  -var bodyStyle = "background-color: #fff; background-image: none;"

block body
  :coffeescript
    $(document).ready =>
      $('#betaEmailInput').keyup (event) =>
        email = $('#betaEmailInput').val()
        if email.indexOf('@') != -1
          domain = email.substr(email.indexOf('@')+1)
          if domain.indexOf('.') != -1
            window.updateDomainIcon(domain)
          else
            window.resetDomainIcon()

    window.updateDomainIcon = (domain) ->
      $($('#betaEmailUserIcon').children()[0]).addClass('hidden')
      $('#submitButton').removeClass('disabled')
      $('#betaEmailUserIcon').attr('style', "background-image : url('https://plus.google.com/_/favicon?domain=#{domain}');")

    window.resetDomainIcon = (domain) ->
      $($('#betaEmailUserIcon').children()[0]).removeClass('hidden')
      $('#submitButton').addClass('disabled')
      $('#betaEmailUserIcon').attr('style', "background-image : url('');")

    window.submitPressed = () ->
      email = $('#betaEmailInput').val()
      if email.indexOf('@') != -1 && email.substr(email.indexOf('@')+1).indexOf('.') != -1
        console.log "submitting good email #{email}"
        window.setupSubmitting()
        $.post("https://domo-io-services.herokuapp.com/apiv1/inviterequest", {emailAddress: email}, (response)=>
          console.log response
          if response?.status != "success"
            window.setupFailedSubmit()
          else
            window.setupSubmitSuccess()
        ).error(window.setupFailedSubmit)
      else
        return
    window.setupSubmitting = () ->
      $('#submitButton').addClass('disabled')
      $('#submitStatus').addClass('hidden')

    window.setupFailedSubmit = () ->
      $('#submitButton').removeClass('disabled')
      $('#submitStatus').removeClass('hidden')
      $('#submitStatus').text "Whoops, our bad-- we're on it."


    window.setupSubmitSuccess = () ->
      $('#emailInputRow').fadeOut()
      $('#submitStatus').removeClass('hidden')
      $('#submitStatus').removeClass('text-warning')
      $('#submitStatus').addClass('text-info')
      $('#submitStatus').text "You're on the list! We can't let everyone in yet, but we'll send your invite as soon as we can."

  .contentHeaderBG
    .contentHeader
  .content-index.container-fluid

    section#index-about
      h1 Enabling Peer Support.
      p.mission
        | By allowing employees to seek anonymous support and advice from mentors at their company, 
        i Domo for Business 
        | improves employee satisfaction, reduces burnout and builds community. 
      p.mission
        i Domo for Good 
        | enables non-profits and student groups to reduce barriers for those seeking and providing support.
      #loveit
          h3.loveitHeader Backed by experts:
          p.loveitReason Domo's experts in management and mental health are available to talk through any situation where mentors need extra support.
          h3.loveitHeader Insightful analytics:
          p.loveitReason 
            | Community analytics give 
            i Domo for Business 
            | organizations insights for continuous cultural improvements. 
          
        br


      #getAboardBeta.control-group
        form(method="GET", action="#",onsubmit='window.submitPressed.apply(); return false')
          label.control-label(for="betaEmailInput") Domo is invite-only during our private beta, but you can get aboard the waitlist.
          .controls
            #emailInputRow.input-prepend
              span#betaEmailUserIcon.add-on
                i.icon-envelope
              input#betaEmailInput.span2(type="text", placeholder="email address")
              button#submitButton.btn.btn-success.disabled(type="submit") Join the list
        h4#submitStatus.text-warning.hidden Thanks for using Domo!!
            

      - if(typeof redirectURL !== 'undefined')
        //- if for example, index is rendered from offer/:id
        script(type="text/javascript").
          window.redirectURL = '#{redirectURL}'


          
