- if(typeof stylesheets === 'undefined')
  - var stylesheets = ['//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/css/bootstrap.min.css', '/css/style.css']
- if(typeof localScripts === 'undefined')
  - var localScripts = ['//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js', '//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap.min.js']

block viewVars

- if(typeof title === 'undefined')
  - var title = "Domo"
- else
  - title += " | Domo"

!!! 5
html(ng-app=ngApp)
  head
    title #{title}
    meta(charset="utf-8")
    meta(name="copyright", content="ExoMachina, Inc. ExoMachina.com")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable = no")
    meta(name= "apple-mobile-web-app-capable", content="yes")
    link(rel="icon", type="image/png", href="/icons/favicon.png")
    link(rel="apple-touch-icon", href="/icons/touch-icon.png")

    each s in stylesheets
      link(rel='stylesheet', href='#{s}')

    block styles

    each s in localScripts
      script(src='#{s}')
      
    block head


  body(style= bodyStyle)

    - if(typeof hideToolbar !== 'undefined' && !hideToolbar)
      include includes/toolbar

    block body
    
    footer
      div.row-fluid
        div.span12
          a(href="mailto:domo@domo.io") domo@domo.io
          |  | 
          a(href="/privacyandterms") privacy &amp; terms

      block footer




    block scripts