extends layout
- var siteSection = 'Login'

block styles
  link(rel='stylesheet', href='/css/app/form.css')

block body
  div.row
    div#login.form.container-fluid
      form(method='post')
        h3#form-login-heading.form-heading Login
        p#form-login-errors.form-errors
          include includes/errors
        input.input-block-level.required(type='text', name='username', value=username, maxlength=96, placeholder='E-mail address')
        input.input-block-level.required(type='password', name='password', maxlength=64, placeholder='Password')
        button.btn.btn-large.btn-success(type='submit') Login