
extends layout

block body
  div(style="background-color: #fff; background-image: none;")
  h1 Pending Approval
  p You will receive an e-mail (#{email}) notifying you once your account has been approved.
  | Messaging goes here.