extends layout

block viewVars
  -var title = "Privacy and Terms"

block body
  include includes/toolbar  

  .content.container-fluid
    .page-header
      h1
        | Privacy Policy  
        small We make every effort to keep your information confidential
      ol
        li
          p We never ask you for any more information than what we need to deliver you advice.
        li
          p We make every attempt to keep your information secure, anonymous, and safe.
        li 
          p We share aggregated information with organizations that will use this data responsibly, to make advances in the field of mental health and community wellness.
    .page-header
      h1
        | Terms of Service   
        small Domo as a self-help tool
      
      p By 'we' we refer to Domo.io, its subsidiaries, its parent legal entity ExoMachina, Inc and all professionals under contract with our company. By you we mean all users of http://domo.io: supporters, adopters and advice seekers.
        
      ol
        li
          p The primary responsibility for your mental health rests with you. We connect you to services that, to the best of our knowledge, would help you. We may be wrong, and you accept that!
        li
          p 
            | You use Domo at will. You alone are responsible for decisions on using our services and any resulting consequences and agree to 
            b absolve us of all liability for your decisions and those of peer mentors
            | , and furthermore agree 
            b immediately alert us to any content encountered that has the potential to cause irreparable harm 
            | by emailing 
            a(href="mailto:domo@domo.io") domo@domo.io
            | .
        li 
          p Any communication you receive from us in response to your request for advice should be considered confidential. You will not distribute/forward any such communication to others. You agree not to re-share/sell content you find on domo.io. 
          p 
            b Supporters 
            | will make all best efforts to maintain the confidentiality of those seeking support through Domo.
 
        li 
          p We aggregate your anonymized content with that of others for use by other companies, organizations, or individuals who partner with us.
          p We claim uniquely high ethical standards, but such additional use will be made at our sole discretion. 
        li
          p 
            | You agree to not receive any monetary compensation for use of Domo without receiving express written permission 
            | by emailing 
            a(href="mailto:domo@domo.io") domo@domo.io
            | .

        li
          p We reserve the right, at all times, to remove or refuse to distribute any Content on the Services, to suspend or terminate users, and to reclaim any content without liability to you. We will typically do this when we feel there is abuse.
          p Our terms of service may change from time to time without notice, but we will never eliminate your confidentiality without written permission.
       
       a.btn.btn-primary.btn-medium.btn-success(style='margin: 26px;', href="mailto:domo@domo.io?subject=Question%20regarding%20privacy%20or%20terms") Email us if you'd like to talk





 
   
