
extends layout


block viewVars
  - title = 'Pending Approval'


block body

  .content-index.container-fluid

    section#home
      h3 Pending Approval
      p Your account will soon be vetted by our admins or Spider-pig, depending on availability.


