link(rel='stylesheet', href='/css/supporterprofile.css')

.main
  .intro
    | Hey !{user.email}!
    br
    br

  .orgs
    | You are currently a part of the following organizations:
    br
    each org in user.organizations
      a(href='/#{org.orgURL}') 
        .org
          !{org.displayName}
          .banner
            img(src="#{org.bannerURL}")