
extends layout


block viewVars
  - title = 'Supporter Approved'


block body

  .content-index.container-fluid

    section#home
      h3 Account Approval Request
      p The account has been approved for the following roles: #{roles}.


