
extends layout

block viewVars
  - title = 'Home'


block body

  .content-index.container-fluid

    section#home
      h3 Home
      p Default index page the user sees after login
      pre !{user}
