@import "/font-awesome/css/font-awesome-ie7.css";
@import "/font-awesome/css/font-awesome.css";
a {
  color: Green;
}
.content {
  text-align: center;
}
.hello {
  font-weight: bold;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.pastAdvice {
  background-color: #eee;
  height: 25px;
  width: 200px;
  text-align: center;
}
.advGiven {
  height: 160px;
  overflow: scroll;
}
.advAssigned {
  height: 650px;
  overflow: scroll;
}
.advr {
  cursor: pointer;
}
.icon-remove-sign {
  color: #f00;
  font-size: 16pt;
  cursor: pointer;
}
.dropdown-menu li {
  padding-left: 5px;
  cursor: pointer;
}
.dropdown-menu li:hover {
  color: Green;
}
.savetime,
.addtime {
  margin: 3px;
}
