@font-face {
  font-family: 'Arimo';
  src: url("/fonts/Arimo-Regular-Latin.eot");
/* IE */
  src: local('Arimo'), url("/fonts/Arimo-Regular-Latin.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Arimo';
  src: url("/fonts/Arimo-Bold-Latin.eot");
/* IE */
  src: local('Arimo'), url("/fonts/Arimo-Bold-Latin.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Arimo';
  src: url("/fonts/Arimo-Italic-Latin.eot");
/* IE */
  src: local('Arimo'), url("/fonts/Arimo-Italic-Latin.ttf") format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Arimo';
  src: url("/fonts/Arimo-BoldItalic-Latin.eot");
/* IE */
  src: local('Arimo'), url("/fonts/Arimo-BoldItalic-Latin.ttf") format('truetype');
  font-weight: bold;
  font-style: italic;
}
* {
  border: 0;
}
footer {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 5px;
}
a {
  position: relative;
  color: #57575b;
  text-decoration: none;
}
a:hover {
  color: #00b147;
  text-decoration: none;
}
a:active {
  top: 1px;
}
h1 {
  line-height: 1.2;
}
h1 small {
  line-height: 1.2;
}
body {
  font-family: 'Arimo', 'Helvetica Neue';
  background-color: #f0f0f0;
  background-image: url("/img/patternsquare_green.png");
  background-repeat: repeat;
}
.media-body {
  padding-left: 110px;
}
.media-body a {
  color: #2b2b30;
}
.media-body a:hover {
  color: #2861aa;
  text-decoration: none;
}
section {
  margin-bottom: 35px;
}
section#apps .page-header {
  border-top: 1px solid #eee;
  border-bottom: 0px solid #eee;
}
.header {
  height: 60px;
  background-color: #f8f8f8;
  border-bottom-color: #e0e0e0;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.contentHeaderText {
  color: #fff;
  font-size: 36px;
  margin-top: 140px;
  font-weight: bold;
  float: right;
  line-height: 35px;
  text-shadow: 0px 2px 7px #000;
}
.contentHeaderBG {
  background-color: #f0f0f0;
  background-image: url("/img/patternsquare_green.png");
  background-repeat: repeat;
}
.contentHeader {
  background-image: url("/img/domo-website-home-header-bg.png");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  width: 100%;
  height: 0;
  padding-bottom: 25%;
  background-repeat: no-repeat;
  border-bottom-color: #e1e1e1;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  border-top-color: #ebebeb;
  border-top-style: solid;
  border-top-width: 0px;
  -webkit-box-shadow: inset 0px -2px 3px #aaa;
  -moz-box-shadow: inset 0px -2px 3px #aaa;
  box-shadow: inset 0px -2px 3px #aaa;
}
@media (max-width:800px) {
  .contentHeader {
    background-position: center 5px;
  }
}
@media (min-width: 800px) {
  .contentHeader {
    background-position: center 10px;
  }
}
.container-fluid {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.headerControls {
  float: right;
  margin-top: 20px;
}
.content h1 {
  color: #00b147;
}
@media (max-width:480px) {
  .hidden-phone {
    display: none;
  }
  .visible-phone {
    display: block;
  }
}
@media (min-width: 768px) {
  .hidden-desktop {
    display: none;
  }
}
.content {
  margin-top: 15px;
  background-color: #fff;
  border-bottom-color: #e1e1e1;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
.content h1 {
  text-transform: capitalize;
}
.homeHeader {
  height: 54px;
  display: inline;
  margin-top: 5px;
}
.headerAlert {
  display: inline;
  float: left;
  padding: 5px 14px 5px 14px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255,255,255,0.50);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#writeUsButton {
  margin-left: 0px;
}
.inline {
  display: inline;
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
.text-warning {
  color: #c09853;
}
.text-error {
  color: #b94a48;
}
.text-info {
  color: #3a87ad;
}
.text-success {
  color: #468847;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.right {
  float: right;
}
.userLoginOutButton {
  width: 50px;
  margin-top: 4px;
  margin-left: 5px;
}
.headerButtonRight {
  float: right;
  margin-top: 18px;
}
@media (max-width: 480px) {
  #rewardBox {
    background-color: #fff;
    border: 0;
  }
}
.fade-overlay {
  position: absolute;
  background-position: center;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.helpful-label {
  float: right;
  margin-top: 0;
  margin-right: 30px;
}
.adviceRequestText {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}
.adviceResponseText {
  font-size: 17px;
  line-height: 21px;
  font-weight: normal;
}
.adviceRow {
  border-bottom: 1px dashed #d3d3d3;
  margin-bottom: 20px;
  padding-bottom: 10px;
  line-height: 20px;
}
.adviceResponseRow {
  border-bottom: 1px dashed #d3d3d3;
}
.adviceResponseRow h5 {
  font-size: 15px;
}
.giveAdviceAdviceRequest {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  margin: 10px 0;
  font-family: inherit;
  text-rendering: optimizelegibility;
}
#adviceContactInput {
  height: 30px;
  width: 95px;
  margin-top: 5px;
}
#index-about h1 {
  line-height: 1.3;
  margin-bottom: 10px;
}
.mission {
  line-height: 1.3;
  font-size: 24px;
  font-weight: normal;
  color: #999;
}
@media (max-width:420px) {
  #index-about .mission {
    line-height: 1.2;
  }
  #index-about h1 {
    line-height: 1.2;
    margin-top: -8px;
  }
}
.lead {
  font-size: 17px;
  font-style: italic;
}
#giveAdviceButton {
  margin-left: 10px;
}
#content-supporters {
  color: #2b2b30;
}
#content-supporters .page-header {
  margin-bottom: 0;
  border-bottom: none;
}
#content-supporters #principlesHeader {
  padding-top: 40px;
}
#content-supporters p {
  font-size: 20px;
  line-height: 1.2;
}
#content-supporters section {
  border-top: 1px solid #eee;
  height: 400px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 0;
  background-position-x: 50%;
}
#content-supporters h2 {
  font-weight: normal;
  text-transform: capitalize;
}
#content-supporters h4 {
  font-weight: normal;
}
#content-supporters .cornerNumber {
  font-weight: bold;
  margin-top: 0;
  padding-top: 10px;
  color: #00b147;
}
#content-supporters #s1 {
  background-color: #e6e6fa;
  background-image: url("/img/patternsquare_green.png");
}
#content-supporters #s2 {
  background-image: url("/img/patternsquare_green.png");
  background-color: #add8e6;
}
#content-supporters #s2 h4 {
  text-align: right;
}
#content-supporters #s3 {
  background-color: #d3d3d3;
  background-image: url("/img/patternsquare_green.png");
}
#content-supporters #s4 {
  background-color: #e0ffff;
  background-image: none;
  height: 224px;
  text-align: center;
}
#content-supporters #i1 {
  background-image: url("/img/domo-handheld-supporters.png");
  background-repeat: no-repeat;
  background-position-x: 70%;
}
#content-supporters #i2 {
  background-image: url("/img/domo-office-supporters.png");
  background-repeat: no-repeat;
}
#content-supporters #i2-s {
  background-image: url("/img/domo-logo-green-supporters.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
}
#content-supporters .p1 {
  margin-top: 100px;
  margin-right: 10px;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
}
#content-supporters .p2 {
  margin-top: 100px;
  margin-right: 10px;
  font-size: 40px;
  line-height: 1.2;
  text-align: right;
}
#content-supporters .p3 {
  margin-top: 100px;
  margin-right: 10px;
  font-size: 40px;
  line-height: 1.2;
  text-align: left;
}
#content-supporters .currentyBeta {
  font-size: 15px;
  margin-top: 3px;
  font-style: italic;
}
@media (max-width: 600px) {
  #content-supporters .p1 {
    margin-top: 30px;
  }
  #content-supporters .p2 {
    margin-top: 30px;
    font-size: 34px;
  }
  #content-supporters .p3 {
    margin-top: 30px;
    font-size: 37px;
  }
}
#getInvolvedButton {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.label {
  padding: 3px 4px 2px;
}
.thumbnail {
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.06);
  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,0.06);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.06);
}
