html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  background: #354a4c;
  height: 100%;
}
body {
  color: #fff;
  font-family: 'Interstate-Light', 'Helvetica', sans-serif;
  margin: 0 auto;
  background: transparent;
  height: 100%;
}
body b {
  font-family: 'Interstate';
  font-weight: normal;
}
@font-face {
  font-family: 'Interstate';
  src: url("/fonts/Interstate.eot");
/* IE */
  src: local('Interstate'), url("/fonts/Interstate.ttf") format('truetype');
}
@font-face {
  font-family: 'Interstate';
  src: url("/fonts/Interstate-bold.eot");
/* IE */
  src: local('Interstate'), url("/fonts/Interstate-bold.ttf") format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Interstate';
  src: url("/fonts/Interstate-light.eot");
/* IE */
  src: local('Interstate'), url("/fonts/Interstate-light.ttf") format('truetype');
  font-weight: lighter;
}
#stdHeader {
  height: 61px;
  max-height: 61px;
  background-image: url("/img/tourbusStdHeaderBG.png");
  background-repeat: repeat-x;
}
#stdLogo {
  margin-left: -5px;
}
#stdHeaderContent {
  margin-left: auto;
  margin-right: auto;
  width: 830px;
  padding-top: 12px;
}
#contentBox {
  width: 100%;
  min-height: 100%;
  height: auto;
  background: #fff;
}
#content {
  margin-left: auto;
  margin-right: auto;
  width: 830px;
}
#indexHeader {
  margin-left: auto;
  margin-right: auto;
  width: 830px;
  height: 165px;
}
#indexHeader #indexLogo {
  margin-top: 42px;
  margin-left: -5px;
}
#headerLinks {
  width: 664px;
  float: right;
  display: inline;
  margin-top: 11px;
  text-align: left;
  height: 32px;
  min-height: 32px;
  font-size: 11pt;
  font-family: 'Interstate';
}
#headerLink {
  margin-right: 15px;
  display: inline;
  text-shadow: 0 0px 6px #000;
}
.headerSeperator {
  padding-top: 5px;
}
.currentHeaderLink {
  color: #de4044;
}
#footerLinks {
  margin-left: 3px;
}
#footerLink {
  margin-right: 15px;
  display: inline;
}
.headerSeperator {
  padding-top: 5px;
}
.currentHeaderLink {
  color: #de4044;
}
#indexCenter {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 240px;
  background-image: url("/img/tourbusIndexBackgroundBar.png");
  background-repeat: repeat-x;
  height: 280px;
}
#indexCenter #centerContent {
  margin-left: auto;
  margin-right: auto;
  width: 830px;
}
#indexCenter #description {
  padding-top: 56px;
  padding-left: 1px;
  width: 375px;
  height: 81px;
  background-image: url("/img/tourbusIndexInfoText.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}
#indexCenter #appStore {
  padding-top: 17px;
  margin-left: 1px;
}
#contactUsHeader {
  height: 66px;
  background-image: url("/img/tourbusContactUsTextHeader.png");
  background-repeat: no-repeat;
  background-position: left bottom;
}
#infoText {
  margin-top: 29px;
  width: 580px;
  color: #414042;
  font-size: 9pt;
  line-height: 1.4;
}
#infoText ol {
  list-style: initial;
  margin-left: 23px;
  margin-bottom: 12px;
}
#infoText b {
  color: #de4044;
  margin-bottom: 4px;
  margin-top: 12px;
  font-size: 10.5pt;
  line-height: 2;
}
#infoText a {
  color: #de4044;
}
#infoText p {
  margin-bottom: 12px;
}
#ratingsAppStorePrompt {
  float: right;
  display: inline;
  margin-top: 59px;
}
#ratingContainer {
  width: 504px;
  height: 426px;
  background-image: url("/img/tourbusRatingsRatingBG.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 74px;
}
#ratingContainer #ratingDisplay {
  color: #414042;
  margin-left: 27px;
  padding-top: 15px;
  width: 450px;
  height: 380px;
}
#ratingContainer #ratingAndArtistTop {
  width: 450px;
  height: 150px;
}
#ratingContainer #ratingArtistName {
  color: #fff;
  height: 38px;
  padding-left: 18px;
  padding-top: 10px;
}
#ratingContainer #ratingArtistName b {
  font-size: 15pt;
}
#ratingContainer #ratingConcertInfo {
  overflow: hidden;
  padding-left: 18px;
  height: 24px;
}
#ratingContainer #ratingConcertInfo b {
  padding-right: 5px;
  display: inline;
}
#ratingContainer #artistImage {
  width: 130px;
  height: 130px;
  overflow: hidden;
  margin-left: 18px;
  margin-top: 18px;
  float: left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#ratingContainer #ratingRatings {
  font-size: 12pt;
  width: 240px;
  display: inline;
  float: right;
  margin-right: 41px;
  margin-top: 32px;
}
#ratingContainer #ratingLine {
  margin-bottom: 11px;
}
#ratingContainer #ratingImage {
  margin-top: -3px;
  float: right;
}
#ratingContainer #ratingComment {
  display: block;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 11px;
  font-weight: lighter;
  font-size: 11pt;
  line-height: 1.3;
  height: 95px;
  overflow: auto;
}
#ratingContainer #authorAndRatings {
  margin-left: 18px;
  margin-top: 14px;
  font-size: 11pt;
}
#ratingContainer #authorAndRatings #ratingCount {
  display: inline;
  color: #de4044;
  margin-left: 5px;
}
#faqInfoTextHeader {
  width: 568px;
  height: 71px;
  background-image: url("/img/tourbusFAQInfoTextHeader.png");
  background-repeat: no-repeat;
  background-position: bottom left;
}
#stdAllRightsFooter {
  width: 830px;
  text-align: right;
  color: #414042;
  font-size: 10pt;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
#stdAllRightsFooter font-family 'Interstate-Light' b {
  font-family: 'Helvetica';
}
#allrightsFooter {
  text-align: right;
  float: right;
  display: inline;
  margin-right: 6px;
  font-family: 'Interstate-Light';
}
#allrightsFooter b {
  font-family: 'Helvetica';
}
#indexAppDemo {
  float: right;
  width: 390px;
  height: 562px;
  margin-top: -58px;
  margin-right: -1px;
  background-image: url("/img/tourbusIndexAppDemo.png");
  background-repeat: no-repeat;
  background-position: center right;
  border: none;
}
#footerDisclaimer {
  width: 830px;
  text-align: left;
  line-height: 1.5;
  font-size: 12px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Interstate';
}
a {
  color: #fff;
  text-decoration: none;
  position: relative;
}
a:hover {
  text-decoration: underline;
}
a:active {
  top: 1px;
}
