p Hi,
p A supportee at Domo for #{org.displayName} requires help:
p
  | Request: #{advicerequest.adviceRequest}
  br
  | Date: #{advicerequest.createdOn}
  br
p
  a(href=advicerequest.accessURL) Click here
  |  to see the request.
