@import '/usr/local/lib/node_modules/nib/lib/nib'

global-reset()

blue = #377ad0 
tbRed = #de4044
tbBlack = #414042 
tbGreen = #354a4c
*
  border 0

.container
  width 870
  margin-left auto
  margin-right auto

footer
  margin-top 30px
  text-align center
  
a
  position relative
  color blue
  text-decoration none
  &:hover
    color darken(blue, 20%)
    text-decoration underline
  &:active
    top 1px

.offereeImage
  width 110px
  height 110px
  overflow hidden
  margin-left 10px
  margin-top 10px
  background-size cover
  background-repeat no-repeat
  background-position center center
  float left
 
.offerInfoText
  width 785px
  margin-left auto

.header
  margin-bottom 20px

.homeHeader
  width 330px
  display inline

.logoutButton
  float right
  width 50px
  margin-top 14px
