@import '/usr/local/lib/node_modules/nib/lib/nib'

global-reset()

blue = #377ad0 
 
*
  margin 0
  padding 0

html
  background #354a4c
  height 100%

body
  color white
  font-family 'Interstate', 'Helvetica', sans-serif
  margin 0 auto
  background transparent
  height 100%

@font-face
  font-family 'Interstate'
  src url("/fonts/Interstate.eot"); /* IE */
  src local('Interstate'), url('/fonts/Interstate.ttf') format('truetype');

@font-face
  font-family 'Interstate'
  src url("/fonts/Interstate-bold.eot"); /* IE */
  src local('Interstate'), url('/fonts/Interstate-bold.ttf') format('truetype');
  font-weight bold


#stdHeader
  height 61px
  max-height 61px
  background-image url("/img/tourbusStdHeaderBG.png")
  background-repeat repeat-x

#stdHeaderContent
  margin-left auto
  margin-right auto
  width 830px
  padding-top 12px

#contentBox
  width 100%
  min-height 100%
  height auto
  background white

#content
  margin-left auto
  margin-right auto
  width 830px

#indexHeader
  margin-left auto
  margin-right auto
  width 830px
  height 165px
  #indexLogo
    margin-top 45px

#headerLinks
  width 659px
  float right
  display inline
  margin-top 11px
  text-align left
  height 32px
  min-height 32px
  font-size 11pt

#headerLink, #footerLink
  margin-right 15px
  display inline
.headerSeperator
  padding-top 5px
.currentHeaderLink
  color #de4044

#indexCenter
  margin-left auto
  margin-right auto
  background-image url("/img/tourbusIndexBackgroundBar.png")
  background-repeat repeat-x
  height 280px
  #centerContent
    margin-left auto
    margin-right auto
    width 830px
  #description
    padding-top 60px
    width 375px
    height 81px
    background-image url("/img/tourbusIndexInfoText.png")
    background-repeat no-repeat
    background-position center bottom
  #appStore
    padding-top 20px

#contactUsHeader
  height 22px + 44px
  background-image url("/img/tourbusContactUsTextHeader.png")
  background-repeat no-repeat
  background-position left bottom

#infoText
  margin-top 35px
  width 570px
  color #414042
  font-size 9pt
  line-height 1.5
  ol
    list-style initial
    margin-left 23px
  b
    color #de4044
    margin-bottom 7px
    margin-top 12px
    font-size 10.5pt
    line-height 2
  a
    color #de4044 
  p
    margin-bottom 12px


#faqInfoTextHeader
  width 568px
  height 27px + 44px
  background-image url("/img/tourbusFAQInfoTextHeader.png")
  background-repeat no-repeat
  background-position bottom left

#stdAllrightsFooter
  width 830px
  text-align right
  color #414042 
  font-size 10pt
  padding-bottom 30px
  margin-left auto
  margin-right auto
  margin-top 100px


#allrightsFooter
  text-align right
  float right
  display inline

#indexAppDemo
  float right
  width 390px
  height 562px
  margin-top -65px
  margin-left auto
  margin-right auto
  background-image url("/img/tourbusIndexAppDemo.png")
  background-repeat no-repeat
  background-position center right
  border none

#footerDisclaimer
  width 830px
  text-align left
  margin-top 240px
  line-height: 1.5
  font-size 12px
  margin-left auto
  margin-right auto

a
  color white
  text-decoration none
  position relative
  &:hover
    text-decoration underline
  &:active
    top 1px
